LOOPS

In [2]:
job_list = [
    "Data Engineer - London, UK",
    "Senior Data Engineer (AWS) - Remote",
    "Data Analyst - Financial Services - New York, NY",
    "Business Intelligence Analyst (Power BI) - Berlin, Germany",
    "Data Scientist - Machine Learning - Toronto, Canada",
    "Cloud Data Engineer (Azure) - Amsterdam, Netherlands",
    "ETL Developer (SQL, SSIS) - Chicago, IL",
    "Analytics Engineer (dbt, Snowflake) - Remote",
    "Junior Data Analyst - Marketing - Madrid, Spain",
    "Lead Data Engineer - FinTech - Singapore",
    "Data Warehouse Developer - Oracle - Dubai, UAE",
    "BI Developer (Tableau) - Paris, France",
    "Machine Learning Engineer - NLP - London, UK",
    "Data Governance Analyst - Frankfurt, Germany",
    "Senior Analytics Consultant - Remote",
    "Big Data Engineer (Spark, Hadoop) - Austin, TX",
    "SQL Data Analyst - Healthcare - Boston, MA",
    "Principal Data Scientist - AI Research - Zurich, Switzerland",
    "Data Platform Engineer - GCP - Dublin, Ireland",
    "Reporting Analyst (Power BI) - Manchester, UK",
    "Data Engineer - Python & Airflow - Remote",
    "Risk Data Analyst - Banking - New York, NY",
    "Cloud Analytics Engineer - AWS - Stockholm, Sweden",
    "Data Migration Specialist - ERP - Brussels, Belgium",
    "Senior BI Analyst - Retail - Milan, Italy",
    "AI Engineer - Deep Learning - Seoul, South Korea",
    "Data Quality Analyst - Remote",
    "Snowflake Data Engineer - Copenhagen, Denmark",
    "ETL / Data Integration Developer - Toronto, Canada",
    "Head of Data Engineering - San Francisco, CA"
]

In [4]:
analyst_list = []

for job in job_list:
    if 'Data Analyst' in job:
        analyst_list.append(job)

print(analyst_list)

['Data Analyst - Financial Services - New York, NY', 'Junior Data Analyst - Marketing - Madrid, Spain', 'SQL Data Analyst - Healthcare - Boston, MA', 'Risk Data Analyst - Banking - New York, NY']

In [5]:
len(analyst_list)

4

Loops

for loops 

while loops

In [2]:
numbers = [0, 1, 2, 3, 4, 5]

for number in numbers:
    print(number)

0
1
2
3
4
5

In [5]:
characters = 'PYTHON'

for character in characters:
    print(character)

P
Y
T
H
O
N

In [29]:
years_experience = {
    'Luke': 3,
    'Kelly': 6,
    'Ken': 4,
    'Alex': 3
}

Print Values of dict

print experience more than 5yr

In [21]:
print(years_experience.items())

dict_items([('Luke', 3), ('Kelly', 6), ('Ken', 4), ('Alex', 3)])

In [22]:
for key, value in years_experience.items():
    if value > 5:
        print(key, "has", value, 'years experience.')

Kelly has 6 years experience.

In [26]:
tuple(range(5))

(0, 1, 2, 3, 4)

WHILE

In [28]:
count = 1

while count <= 10:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10

In [1]:
years_experience = {
    'Luke': 3,
    'Kelly': 6,
    'Ken': 4,
    'Alex': 3,
    'Mary': 7
}

In [3]:
years = 0
index = 0
years_list = list(years_experience.items())


while years < 5:
    key, years = years_list[index]
    if years >= 5:
        print(key, 'has', years, 'years of experience.')
    index += 1

Kelly has 6 years of experience.