# ðŸ”§ Functions

A **function** is a reusable block of code that performs a specific task. Instead of writing the same code over and over, you write it once inside a function and call it whenever you need it.

---

## Types of Functions:

| Type of Function | Example Function | Section |
|---|---|---|
| Built-In functions | `print()` | 1. Getting Started |
| User-defined functions | `def my_function(): pass` | 16. Functions |
| Lambda functions | `lambda x: x + 1` | 17. Lambda |
| Standard Library functions | `math.sqrt()` | 18. Modules |
| Third-Party Library Functions | `numpy.array()` | 21. Library |

---

In [3]:
skill_list = ['Python', 'SQL', 'Excel']

len(skill_list)

3

In [4]:
count = 0

for skill in skill_list:
    count += 1

count

3

Built in functions

In [7]:
print("Hello World")
type('Hi')

Hello World

str

In [48]:
data_salaries = [95000, 100000, 85000, 97000, 140000]

In [49]:
min(data_salaries)

85000

In [13]:
max(data_salaries)

140000

In [15]:
sum(data_salaries)

517000

In [16]:
sorted(data_salaries)

[85000, 95000, 97000, 100000, 140000]

User defined Functions
---

In [36]:
salary_1 = 100000
rate_1 = 0.1

# total_salary = base_salary * (1 + bonus_rate)
# total_salary


# With function now!
def calculate_salary(base_salary, bonus_rate):

    total_salary = base_salary * (1 + bonus_rate)

    return total_salary

In [37]:
calculate_salary(salary_1, rate_1)

110000.00000000001

Lambda functions
---

In [40]:
mull_two = lambda x: x * 2

In [47]:
#mull_two(3)

(lambda x,y : x * 2 + y)(2, 2)

6

In [54]:
salary_list = [95000, 100000, 85000, 97000, 140000]

total_salary_list = [(lambda x: x * 1.1)(salary) for salary in salary_list]

total_salary_list

[104500.00000000001,
 110000.00000000001,
 93500.00000000001,
 106700.00000000001,
 154000.0]

Data filtering example
---

In [2]:
jobs_data = [
    {'job_title': 'Data Analyst', 'job_skills': ['Python', 'SQL', 'Excel'], 'remote': True},
    {'job_title': 'Junior Data Analyst', 'job_skills': ['Python', 'SQL', 'Excel'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['Python', 'R', 'Machine Learning', 'Deep Learning'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn'], 'remote': False},
    {'job_title': 'Data Engineer', 'job_skills': ['Apache Spark', 'Hadoop', 'SQL'], 'remote': True}
]

Finding remote jobs True

In [3]:
list(filter(lambda job: job['remote'] and "Python" in job['job_skills'], jobs_data))

[{'job_title': 'Data Analyst',
  'job_skills': ['Python', 'SQL', 'Excel'],
  'remote': True},
 {'job_title': 'Junior Data Analyst',
  'job_skills': ['Python', 'SQL', 'Excel'],
  'remote': True}]