In [3]:
print(2 + 2)
print(3 * 3)

4
9

In [4]:
# This is a comment

2 + 2 # Another comment

4

CREATE A VARIABLE

In [2]:
salary = 100000

In [5]:
salary

100000

In [10]:
base_salary = 100000
bonus_rate = 0.10

total_salary = (base_salary) * (1 + bonus_rate)

In [11]:
total_salary

110000.00000000001

VARIABLES ARENT ONLY NUMBERS

In [16]:
company_name = 'DataWiz Inc.'
job_wfh = True
job_id = 101
job_title = 'Data Analyst'
job_salary = 125000

print('JOB ID:', job_id)
print('COMPANY NAME:', company_name)
print('JOB TITLE:', job_title)
print('SALARY:', job_salary)
print('WFH:', job_wfh)

JOB ID: 101
COMPANY NAME: DataWiz Inc.
JOB TITLE: Data Analyst
SALARY: 125000
WFH: True